# VisualStudio Files
.vs
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# XCode Files
*.xcodeproj
*.xcworkspace
*.DS_Store

#Engine Files
bin
bin-int
**/profile_startup.json
**/profile_gameloop.json
**/profile_shutdown.json